.main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 0;
    padding-left: -2rem;
    padding-right: 4rem;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
-moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
}
.main-content-about-img h3{
    color: white;
}
.main-content-about-img p{
    margin: 0;
}
.img-div{
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid white; */
    margin-block: 10px;
}
.main-content-about-img img{
    background: white;
    /* height: 200px; */
    width: 150px;
    
    
}
@media only screen and (max-width: 1018px) {
    .main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    -moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    margin-left: -3rem;
    margin-right: -1rem;
    }

   

}

@media only screen and (max-width: 780px) {
    .main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    -moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    margin-left: 6rem;
    margin-right: 5rem;
    }

   

}


@media only screen and (max-width: 495px) {
    .main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    -moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    margin-left: 6rem;
    margin-right: 5rem;
    }

   

}

@media only screen and (max-width: 388px) {
    .main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    -moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    margin-left: 3rem;
    margin-right: 3rem;
    }

   

}
@media only screen and (max-width: 560px) {
    .main-content-about-img{
    margin-inline: 100px;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    -webkit-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    -moz-box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    box-shadow: 5px 6px 13px -1px rgba(250,250,250,1);
    margin-left: 4rem;
    margin-right: 4rem;
    }

   

}
