.bg-details-div h2{
    color: gold;
}
.bg-details-div p{
    color: white;
}
.details-img{
    width: 100%;
    height: 100%;
}
/* @media only screen and (max-width: 500px ) {
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-left: rem;
    }
} */
@media (min-width: 992px){
.col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    /* justify-content: center; */
    margin-top: 9rem;
}
}