* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background: #f2f4f6;
}
.footer_get_touch_outer {
  margin-block: 30px;
}
.contact-us-bg {
  width: 95%;
  max-width: 1140px;
  margin: auto;
  border: 2px solid white;

}
.grid-70-30 {
  width: 100%;
  display: flex;
}

.colmun-30
{
  flex-basis: 30%;
}

.colmun-70
{
  flex-basis: 70%;
}
.get_form_inner {
  margin-left: 6vw;
  margin-right: 6vw;
  display: block;
  padding: 30px 20px;
  background: #fff;
  box-shadow: -4px -2px 20px -7px #cfd5df;
}
input[type="text"], input[type="text"], input[type="email"], input[type="tel"] {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  height: 42px;
  padding: 0 0 0 20px;
  width: 100%;
  outline: 0;
}
.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-full {
  margin: 20px 0;
}
textarea {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #333;
  padding: 12px 0 0 20px;
  width: 100%;
  outline: 0;
  margin-bottom: 20px;
}
.get_form_inner_text h3 {
  color: #333;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 40px;
}
input[type="submit"] {
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid;
  font-weight: 500;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  color: #060606;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
input[type="submit"]:hover {
  background-color: #060606;
  border-color: #eae2df;
  color: #fff;
}
.get_say_form {
  display: inline-block;
  padding: 45px 0 25px 30px;
  background: #050505;
  position: relative;
  margin-left: -2rem;
}
.get_say_form h5 {
  color: #fff;
  font-size: 26px;
  margin: 0 0 40px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.get_say_social-icn {
  display: flex;
  position: absolute;
  bottom: 40px;
  margin-left:50px;
}
.get_say_social-icn a {
  font-size: 22px;
  color: #fff;
  padding: 0 20px 0 0;
}
.get_say_info_sec i {
  color: #fff;
  font-size: 32px;
}
.get_say_info_sec > li {
  display: grid;
  grid-template-columns: 10px auto;
  align-items: center;
  margin-bottom: 40px;
}
.get_say_info_sec > li a {
  width: 100%;
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-size: 1vw;
  text-decoration: unset;
  font-weight: 500;
  margin-left: 2rem;
  background: #343333;
  border-radius: 5px 0 0 5px;
  transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  
}
.get_say_info_sec > li a:hover {
  background-color: #050505;
}

.get_say_info_sec li {
  overflow: hidden;
  word-break: break-all;
}

.get_say_social-icn{
  height: 6rem;
}


@media screen and (max-width:769px)
{
  .grid-70-30
  {
    display: flex;
  }

  .colmun-30
{
  flex-basis: 100%;
}

.colmun-70
{
  flex-basis: 100%;
}

.get_say_social-icn
{
  position: relative;
  top: 3vh;
}

.get_say_info_sec > li a
{
  font-size: 2vw;
}
.get_say_social-icn {
  position: relative;
  top: 3vh;
  margin-top: -1rem;
}
.get_say_form {
  display: inline-block;
  padding: 45px 0 25px 30px;
  background: #050505;
  position: relative;
  margin-left: 1rem;
}
}
@media screen and (max-width:1024px){
.get_say_info_sec > li a {
  width: 100%;
  display: block;
  padding: 15px 25px;
  color: #fff;
  font-size: 1rem;
  text-decoration: unset;
  font-weight: 500;
  margin-left: 2rem;
  background: #343333;
  border-radius: 5px 0 0 5px;
  transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  
}


.get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: #050505;
    position: relative;
    margin-left: -2rem;
}
.get_say_social-icn {
  height: 6rem;
  margin-bottom: -6rem;
}
}