@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');
*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
    color: gold;
}
.gallery-main-div{
    -webkit-box-shadow: 7px 17px 34px -12px rgba(250,247,250,1);
    -moz-box-shadow: 7px 17px 34px -12px rgba(250,247,250,1);
    box-shadow: 7px 17px 34px -12px rgba(250,247,250,1);
    /* margin-inline: 20px; */
    margin-block: 20px;
}
.bg-gallery{
    margin-block: 30px;
}
.gallery-img{
    box-shadow: 3px 3px 8px 0px rgba(242,235,235,0.74);
    -webkit-box-shadow: 3px 3px 8px 0px rgba(242,235,235,0.74);
    -moz-box-shadow: 3px 3px 8px 0px rgba(242,235,235,0.74);
    /* width: 100%;
    height: 100%; */
    transition: 1s ease-in-out;
}
.gallery-img:hover{
    cursor: pointer;
    transform: scale(.9);
}
@media only screen and (max-width: 600px) {
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: 28px;
    }
}
