@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:wght@400;500;600;700;800&display=swap');
*,::before,::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,a{
    font-family: 'Poppins', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;

}
